<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>VueJS</title>
    <link rel="stylesheet" href="style.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="vue.js"></script>
</head>
<body>
    <div id="app">
        <div id="container">
            <textarea id="write" rows="6" cols="60">{{write}}</textarea>
            <ul id="keyboard">
                <template v-for="item in keyBoards">
                    <li v-if=" item.type === 'symbol' "
                            v-on:click="clickSpecial(item)"
                        v-bind:class="renderClassSpecial(item)">
                        <span v-bind:class="[checkOnShift() ? 'on' : 'off']">{{item.value[0]}}</span>
                        <span v-bind:class="[checkOnShift() ? 'off' : 'on']">{{item.value[1]}}</span>
                    </li>
                    <li v-if="renderSpecial(item.type)"
                        v-on:click="clickSpecial(item)"
                        v-bind:class="renderClassSpecial(item)">
                        {{item.value[0]}}
                    </li>
                    <template v-if=" item.type === 'letter' " v-for="letter in item.value">
                        <li v-on:click="clickLetter(letter)" class="letter">{{letter}}</li>
                    </template>
                </template>
            </ul>
        </div>
    </div>
</body>
<script type="text/javascript" src="app.js"></script>
</html>